RewriteEngine On
RewriteBase /

DirectoryIndex ""

SetEnvIf Host "^(en|fr)\." ForceLang=$1
SetEnvIf REQUEST_SCHEME "https" https
SetEnvIf Request_URI "^((?:/[^/]+)+)/[^/]*$" PATH=$1


AuthUserFile /var/www/.htpasswd
AuthType Basic
AuthName "marionrampal.com staging"

<RequireAny>
    Require method OPTIONS
    Require expr "%{HTTPS} == 'off'"
    Require valid-user
</RequireAny>

<FilesMatch ".(md|json)$">
    Header set Cache-Control "must-revalidate"
</FilesMatch>



RewriteCond "%{HTTP_HOST}" "^ajax\.marionrampal\.(com|local)$" [NC]
RewriteCond     "%{HTTPS}"  "on"
RewriteCond  %{REQUEST_URI} (/contact$)
RewriteRule "([^/]*)/?$" http://127.0.0.1:49152/$1?path=%{ENV:PATH} [P,L]

#redirect all requests without subdomain to www
RewriteCond     "%{HTTPS}"  "on"
RewriteCond "%{HTTP_HOST}"   "^[^.]+\.(com|local)$" [NC]
RewriteRule "^(.*)$" "%{REQUEST_SCHEME}://www.%{HTTP_HOST}/$1" [L,R=301,NE]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^/]+/)*(default|index)\.(html|php|htm)\ HTTP/ [NC]
RewriteRule ^(([^/]+/)*)(default|main|index)\.(html|php|htm)$ $1 [L,R=301]


RewriteCond     "%{HTTPS}"  "on"
RewriteCond     %{REQUEST_URI} ^/staging(/|/mainblue|/concerts|/contacts|/biography|/listen|/lyrics|/lesecret|/ile)$
RewriteRule     ^([^/]*)/?$ http://127.0.0.1:49152/?path=%{ENV:PATH}&page=$1&forceLang=%{ENV:ForceLang} [P,L]

RewriteCond     "%{HTTPS}"  "on"
RewriteCond     %{REQUEST_URI} ^/staging/(commit$|unstage$|editfile/)
RewriteRule     ^(.*)/?$ http://127.0.0.1:49152/admin/$1 [P,L]



RewriteCond     %{REQUEST_FILENAME} !-f
RewriteRule .* - [L,R=404]



