<div modal-render="{{$isRendered}}" tabindex="-1" role="dialog" class="modal"
    uib-modal-animation-class="fade"
    modal-in-class="in"
    ng-style="{'z-index': 1050 + index*10, display: 'block'}">
    <div id="mobileContent" class="modal-dialog box content-sizer {{size ? 'modal-' + size : ''}}">

        <!-- <div class="closer"  ng-click="MobileContentCtrl.cancel()"></div> -->
        <!-- note that we print whole text, including the chapeau (contrarily to the desktop version) since this doesn't create a duplicate -->
        <!-- <span class="more" marked="content.data" compile="true" popup-links="popupLinks"></span>   -->
        <div class="modal-content" uib-modal-transclude></div>
    </div>
</div>
